#looks-container {
  padding: 50px 20px;
}

#looks-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: black;
}

.looks-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.look-item {
  max-width: 100%;
}

.look-item img {
  width: 100%;
  height: auto;
  display: block;
}
